.copyright {
   display: flex;
   justify-content: center;
   align-items: center;

}

.foot {
   background: url("background.svg");
   color: white;
   background-repeat: no-repeat;
   height: 65vh;
}

.nav-link {
   /* margin-top: 3vw; */
   color: white !important;
   margin-left: 30vw;
   width: max-content;
   gap: 15px;
}

.mys {
   position: absolute;
   right: 4%;
}

.wid {
   width: 45vw;
   height: 40vh;
   position: absolute;
   margin-top: 3rem;
   /* right: 0%; */
   margin-left: 20vw;
}

.cen {
   margin-left: 30vw;
   width: 3rem;
}

.links h5 {
   
    
   width: max-content;
   font-weight: 1000;
   /* font-family: ; */
}

.py-4 {
   margin-top: 4rem;
   margin-left: 12%;
   margin-right: 12%;
}

.border-top {
   position: relative;
   top: 20vh;
}
.twit{
display: flex;
align-items: center;
justify-items: center;
}
.h5{
   position: relative;
   left:2% ;
}